$greenLight: #92c847;
$greenLightDark: #799f43;

$greenDark:#485942;
$greenDarker:#43523d;

:export {
    $greenLight: $greenLight;
    $greenDark: $greenDark;
    $greenDarker: $greenDarker;
    $greenLightDark: $greenLightDark;
}
