.cabinet {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .data {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 10px;

        ul {

            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                display: flex;
                flex-direction: column;
                gap: 5px;
                
                label {
                    display: block;
                    width: 100px;
                    font-size: small;
                    padding-left: 10px;
                }
            }
        }
    }

    .edit-link {
        text-align: center;
        display: block;
        padding-top: 10px;
        font-size: small;
        color: variables.$greenDarker;
        padding-left: 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

        &::before {
            content: "#";
            padding-right: 5px;
            text-decoration: none;
        }                
        
    }

    .buttons {
        display: flex;
        flex-direction: column;
        max-width: 100px;
        text-align: center;
        gap: 5px;
    }

    input[type="button"] {
        padding-top: 50px;
        align-self: center;
    }
}