@use 'variables';

.my-tests {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .create-btn {
        display: block;
        padding: 5px;
        
    }

    .test-list {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        padding: 5px;

        >li {
            flex: 1 1 0;
            display: flex;
            flex-direction: row;

            gap: 5px;
            
            border: 2px dashed variables.$greenDarker;
            padding: 5px;

            &:hover {
                @include variables.background-net;
            }

            img {
                aspect-ratio: 1/1;
            }

            .data {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                min-width: 200px;
                justify-content: space-between;

                .theme {
                    font-weight: bold;
                    font-size: large;
                    text-align: center;
                }

                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        display: flex;
                        flex-direction: row;
                        border: none;
                        gap: 3px;
                        flex: 1 1 0;
                        justify-content: center;
                    }
                }

                .date {
                    font-size: x-small;
                    font-style: italic;
                    text-align: end;
                }

                a {
                    text-align: end;
                    color: variables.$greenDarker;
                }
            }
        }
    }
}