@use 'variables';

.my-tests, .my-responses, main {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .create-btn {
        display: block;
        padding: 5px;
        
    }

    .filter {
        display: inline-flex;
        flex-wrap: wrap;

         >p {
            flex: 1 1 0;
            padding: 5px;
            text-align: center;
         }

         .active {
            background-color: variables.$greenDarker;
            color: variables.$greenLight;
         }
    }

    .test-list, .response-list {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 5px;

        >li {
            flex: 1 1 0;
            display: flex;
            flex-direction: row;

            gap: 5px;
            
            border: 2px dashed variables.$greenDarker;
            padding: 5px;


            img {
                aspect-ratio: 1/1;
            }

            .data {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 100%;
                min-width: 150px;
                justify-content: space-between;
                padding: 7px;

                .theme {
                    font-weight: bold;
                    font-size: large;
                    text-align: center;
                }

                ul {
                    display: flex;
                    flex-direction: row;

                    li {
                        display: flex;
                        flex-direction: row;
                        border: none;
                        gap: 3px;
                        flex: 1 1 0;
                        justify-content: center;
                        font-size: small;
                        
                        span {
                            align-content: center;
                        }

                        &:nth-of-type(1) {
                            text-align: center;
                        }
                    }
                }

                .date {
                    font-size: x-small;
                    font-style: italic;
                    text-align: end;
                    padding: 3px;
                    transition: 0.5s;

                    &:nth-of-type(3) {
                        background-color: variables.$greenDarker;
                        color: variables.$greenLight;
                        font-size: small;

                    }
                }

                a {
                    text-align: end;
                    color: variables.$greenDarker;
                    transition: 0.5s;

                }
            }
            
            &:hover {
                @include variables.background-net;

                .date:nth-of-type(3) {  
                    padding-right: 30px;
                }

                
                a:hover {
                    padding-right: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 426px) {

    .test-list, .response-list {
        >li {
            >img {
                width: 100px;
                height: 100px;
            }   
        }    
    }
}