@use 'variables';
@import "./reset.css";
@import url('https://fonts.cdnfonts.com/css/nokia-3410');
@import "./auth-forms.scss";

* {
    font-family: 'Nokia 3410', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: variables.$greenLight;
    min-height: 100vh;
    text-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.6);

    .title {
        background-color: variables.$greenDarker;
        background-size: 5px 5px;
        background-image:
            linear-gradient(to right, variables.$greenDark 1px, transparent 1px),
            linear-gradient(to bottom, variables.$greenDark 1px, transparent 1px);
        padding: 5px;
        color: variables.$greenLight;
        font-size: large;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        box-shadow: 1px 1px 1.5px black;
    }

    input[type="text"], input[type="number"], input[type="password"] {
        background: none;
        border: 2px solid variables.$greenDarker;
        font-weight: 700;
        padding: 6px;
        border-radius: 3px;
        color: variables.$greenDarker;
        box-shadow: 1px 1px 1.5px black, inset 1px 1px 1.5px black;
    }

    input[type="submit"], input[type="button"] {
        background: repeating-linear-gradient(
            -45deg,
            variables.$greenDark,
            variables.$greenDark 2px,
            variables.$greenDarker 2px,
            variables.$greenDarker 10px
        );
        color: variables.$greenLight;
        padding: 10px;
        text-decoration: underline;
        text-shadow: 1px 1px 1.5px black;
        transition: 0.25s ease-in-out;
    }

    input[type="button"] {
        padding: 0px;
        text-decoration: none;
    }

    nav {
        background-color: variables.$greenDarker;
        font-family: 'Nokia 3410', sans-serif;
        background-size: 5px 5px;
        background-image:
            linear-gradient(to right, #485942 1px, transparent 1px),
            linear-gradient(to bottom, #485942 1px, transparent 1px);
        color: variables.$greenLight;
        display: flex;
        flex-direction: column ;

        .logo {

            padding: 10px 0px 10px 30px;

            display: flex;
            gap: 5px;
            align-items: center;
            

            a {
                display: flex;
                gap: 5px;
                color: variables.$greenLight;

                div {
                    padding: 3px;
                    background-color: variables.$greenLight;
                    height: 30px;
                }

                span {
                    font-size: large;
                    vertical-align:bottom;
                }
            }
        }

        

        ul {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;

            padding: 5px;
            gap: 10px;

            >* {
                flex: 1 1 0;
            }

            li {
                display: flex;
                flex-direction: column;

                a {
                    color: variables.$greenLight;
                    text-decoration: none;
                    font-size: x-small;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    div {
                        text-align: center;
                    }

                    span {
                        text-align: center;
                    }
                }
            }

            
        }
    }

    main {
        flex: 1;
        color: variables.$greenDarker;
        padding: 5px;
        display: flex;
        flex-direction: column;
        /*
        justify-content: center;
        align-items: center;
        */
    }

    footer {
        background-color: variables.$greenDarker;
        font-family: 'Nokia 3410', sans-serif;
        background-size: 5px 5px;
        background-image:
            linear-gradient(to right, #485942 1px, transparent 1px),
            linear-gradient(to bottom, #485942 1px, transparent 1px);
        color: variables.$greenLight;

        padding: 15px;

        a {
            color: variables.$greenLight;
        }
    }
}

@media screen and (min-width: 426px) {
    .app {
        nav {
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 10px;

            ul {
                padding: 10px 10px 10px 10px;

                li {
                    width: 60px;
                }
            }
        }
    }
}



