@use 'variables';
@import "./reset.css";
@import url('https://fonts.cdnfonts.com/css/nokia-3410');
@import "./auth-forms.scss";
@import "./edit_test.scss";
@import './test-preview.scss';
@import "./list-tests.scss";
@import "./response.scss";

* {
    font-family: 'Nokia 3410', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    background-color: variables.$greenLight;
    min-height: 100vh;
    text-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.6);
    word-wrap: break-word;

    a, span {
        word-wrap: break-word;
        word-break: break-all;
    }

    .visible {
        display: block;
    }

    .hidden {
        display: none;
    }

    .warnings {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px 5px 5px 15px;

        li {
            &::before {
                content: "⚠️ ";
            }
        }
    }

    .link {
        color: variables.$greenDarker;
        transition: 0.25s;
        padding-left: 30px;

        &::before {
            content: "# ";
            text-decoration: none;
        }

        &:hover {
            padding-left: 50px;
        }
    }
    

    .title {
        background-color: variables.$greenDarker;
        background-size: 5px 5px;
        background-image:
            linear-gradient(to right, variables.$greenDark 1px, transparent 1px),
            linear-gradient(to bottom, variables.$greenDark 1px, transparent 1px);
        padding: 5px;
        color: variables.$greenLight;
        font-size: large;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        box-shadow: 1px 1px 1.5px black;
    }

    .sub-title {
        @include variables.background-net;
        padding: 5px;
        font-size: medium;
        font-weight: bold;
        text-align: center;
        border: 2px solid variables.$greenDark;
        text-shadow: 1px 1px 1.5px variables.$greenLight;
    }

    i {
        font-style: italic;
    }


    input[type="checkbox"]:disabled {
        background-color: variables.$greenDarker;
        color: variables.$greenLight;
        opacity: 1;
    }

    .sub-sub-title {
        background-color: variables.$greenDarker;
        color: variables.$greenLight;
        padding: 3px;
    }

    input[type="text"], input[type="number"], input[type="password"], textarea {
        background: none;
        border: 2px solid variables.$greenDarker;
        font-weight: 700;
        padding: 6px;
        border-radius: 3px;
        color: variables.$greenDarker;
        box-shadow: 1px 1px 1.5px black, inset 1px 1px 1.5px black;
    }
    
    input[type="file"] {
        width: 100%;
    }

    input[type='radio'], input[type='checkbox'] {
        accent-color: variables.$greenDarker;
    }

    input[type="submit"], input[type="button"] {
        background: repeating-linear-gradient(
            -45deg,
            variables.$greenDark,
            variables.$greenDark 2px,
            variables.$greenDarker 2px,
            variables.$greenDarker 10px
        );
        color: variables.$greenLight;
        padding: 10px;
        text-decoration: underline;
        text-shadow: 1px 1px 1.5px black;
        transition: 0.25s ease-in-out;
    }
    
    
    .close-btn {
        color: variables.$greenLight;
        background: variables.$greenDark !important;
        border: 2px solid variables.$greenLight;
        text-decoration: none !important;
        
        aspect-ratio: 1/1;
        padding: 3px !important;
        width: 30px;
        height: 30px;
    }

    .image {

        position: relative;
        aspect-ratio: 1/1;
        width: calc(100% - 4px);
        max-width: 200px;
        display: block;
        border: 2px solid variables.$greenDarker;

        img {
            width: 100%;
            height: 100%;
        }

        input[type="button"] {
            position: absolute;
            top: 0;
            right: 0;
            background: none;
            background-color: variables.$greenDarker;
            color: variables.$greenLight;
            aspect-ratio: 1/1;
            padding: 3px;
            text-decoration: none;
        }
        
        align-self: center;
    }

    

    .input-data {

        display: flex;
        flex-direction: column;
        gap: 3px;

        p {
            display: flex;
            flex-direction: column;
            label {
                font-size: x-small;
                padding-left: 10px;
            }

            input[type="checkbox"] {
                align-self: start;
                margin-left: 10px;
            }
        }

        .regenerate {
            position: relative;
            transform: translate(0, -65px);
            width: 30px;
            height: 30px;
            align-self: self-end;
        }
    }

    

    nav {
        background-color: variables.$greenDarker;
        font-family: 'Nokia 3410', sans-serif;
        background-size: 5px 5px;
        background-image:
            linear-gradient(to right, #485942 1px, transparent 1px),
            linear-gradient(to bottom, #485942 1px, transparent 1px);
        color: variables.$greenLight;
        display: flex;
        flex-direction: column ;

        .logo {

            padding: 10px 0px 10px 30px;

            display: flex;
            gap: 5px;
            align-items: center;
            

            a {
                display: flex;
                gap: 5px;
                color: variables.$greenLight;

                div {
                    padding: 3px;
                    background-color: variables.$greenLight;
                    height: 30px;
                }

                span {
                    font-size: large;
                    vertical-align:bottom;
                }
            }
        }

        

        ul {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;

            padding: 5px;
            gap: 10px;

            >* {
                flex: 1 1 0;
            }

            li {
                display: flex;
                flex-direction: column;

                a {
                    color: variables.$greenLight;
                    text-decoration: none;
                    font-size: x-small;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    div {
                        text-align: center;
                    }

                    span {
                        text-align: center;
                    }
                }
            }

            
        }
    }

    main {
        flex: 1;
        color: variables.$greenDarker;
        padding: 5px;
        display: flex;
        flex-direction: column;
        /*
        justify-content: center;
        align-items: center;
        */
    }

    footer {
        background-color: variables.$greenDarker;
        font-family: 'Nokia 3410', sans-serif;
        background-size: 5px 5px;
        background-image:
            linear-gradient(to right, #485942 1px, transparent 1px),
            linear-gradient(to bottom, #485942 1px, transparent 1px);
        color: variables.$greenLight;

        padding: 15px;

        a {
            color: variables.$greenLight;
        }
    }
}

@media screen and (min-width: 426px) {
    .app {
        nav {
            flex-direction: row;
            justify-content: space-between;
            padding: 0px 10px;

            ul {
                padding: 10px 10px 10px 10px;

                li {
                    width: 60px;
                }
            }
        }
    }
}



