.sign-up {

    flex: 1;
    display: flex;
    flex-direction: column;

    width: 300px;
    justify-content: center;
    align-self: center;
    gap: 5px;
    
    text-shadow: 0.5px 0.5px 1.5px rgba(0, 0, 0, 0.6);

    .title {
        background-color: #43523d;
        background-size: 5px 5px;
        background-image:
            linear-gradient(to right, #485942 1px, transparent 1px),
            linear-gradient(to bottom, #485942 1px, transparent 1px);
        padding: 5px;
        color: #92c847;
        font-size: large;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        box-shadow: 1px 1px 1.5px black;
    }

    input[type="text"], input[type="number"], input[type="password"] {
        background: none;
        border: 2px solid #43523d;
        font-weight: 700;
        padding: 6px;
        border-radius: 3px;
        color: #43523d;
        box-shadow: 1px 1px 1.5px black, inset 1px 1px 1.5px black;
    }

    
    input[type="submit"], input[type="button"] {
        background: repeating-linear-gradient(
            -45deg,
            #485942,
            #485942 2px,
            #43523d 2px,
            #43523d 10px
        );
        color: #92c847;
        padding: 10px;
        text-decoration: underline;
        text-shadow: 1px 1px 1.5px black;
        transition: 0.25s ease-in-out;
    }

    input[type="button"] {
        padding: 0px;
        text-decoration: none;
    }

    .section {
        display: flex;
        flex-direction: column;
        gap: 5px;

        p {
            display: flex;
            flex-direction: column;
            gap: 3px;

            label {
                padding-left: 10px;
            }
        }

        span {
            font-size: small;
            padding-left: 20px;
            display: block;
        }

        .data {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                display: flex;

                label {

                    &:first-child {
                        font-size: xx-small;
                        padding-left: 20px;
                    }

                    &:last-child {
                        font-weight: bold;
                    }
                }
            }
        }

        .input-data {

            display: flex;
            flex-direction: column;
            gap: 3px;

            p {
                label {
                    font-size: x-small;
                }
            }

            .regenerate {
                position: relative;
                transform: translate(0, -65px);
                width: 30px;
                height: 30px;
                align-self: self-end;
            }
        }

        .buttons {

            display: flex;
            justify-content: flex-end;
            gap: 5px;

            button {
                background: none;
                text-decoration: underline;
                text-shadow: 1px 1px 1.5px black;
                transition: 0.25s ease-in-out;
            }
        }
    }

}